body {
    background-color: #737373;
}
a {cursor: pointer;}

.header-main {
    width: 100%;
    height: 60px;
    background-color: #f7eded;
    display: flex;
    justify-content: space-between;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    display: flex;
}
.header-main-logo img{
    height: 60px;
}


.header-main-nav {
    width: fit-content;
    height: 100%;
}
.header-main-nav ul{
    list-style: none;
}
.header-main-nav ul li{
    display: inline;
    margin-right: 10px;

}
.header-main-nav ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 60px
}
.header-main-nav ul li a:hover{
    color: green;
    
}



.header-main-sm {
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}  

.header-main-sm-fb {
    width: 20px;
    height:20px;
    background-image: url(./Icons/facebook-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.header-main-sm-in {
    width: 20px;
    height: 20px;
    background-image: url(./Icons/instagram-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}   
.header-main-sm-yt {
    width: 20px;
    height: 20px;
    background-image: url(./Icons/Design\(250\ x\ 350\ px\)\ \(40\ x\ 40\ px\).png);
    background-repeat: no-repeat;
    background-size: cover;
    
}  
.header-main-sm-tk {
    width: 20px;
    height: 20px;
    background-image: url(./Icons/tiktok.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}






h1 {
    font-style: italic;
    font-size:50pt;
    display: flex;
    justify-content: center;
}


.first-row {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;/*sapce in devboxes*/
    padding-left: 60px;
    margin-top: 60px;
    padding-right: 60px;
    
    display: flex; /*div box next to each other*/
    flex-wrap: wrap; /*div box wrap*/
    align-content: center;/*center items in main div box*/
    gap: 50px 40px ;
   
}


/*Product Details Row 1*/

.first-row ul li {
    justify-self: center;}
  
.product1 {
    background-image: url(./Beds/Saman/BedGold350X350\ \(3\).png);
    height: 350px;
    width: 350px;}
.product2 { 
    background-image: url(.//Beds/Saman/Bed\ Merron350X350\ \(3\).png);
    height: 350px;
    width: 350px;}
.product3 {   
    background-image: url(.//Beds/Saman/BedGreen350X350\ \(3\).png);
    height: 350px;
    width: 350px;}

.product4 {   
    background-image: url(#);
    height: 360px;
    width: 250px;}
.product5 {   
    background-image: url(#);
    height: 360px;
    width: 250px;}
.product6 {
    background-image: url(#);
    height: 360px;
    width: 250px;}
.product7 {  
    background-image: url(#);
    height: 360px;
    width: 250px;}
.product8 {   
    background-image: url(#);
    height: 360px;
    width: 250px;}




/*Product Details Row 2*/
.product9 {
    background-image: url(#);
    height: 360px;
    width: 250px;}
.product10 { 
    background-image: url(#);
    height: 360px;
    width: 250px;}
.product11 {   
    background-image: url(#);
    height: 360px;
    width: 250px;}

.product12 {   
    background-image: url(#);
    height: 360px;
    width: 250px;}
.product13 {   
    background-image: url(#);
    height: 360px;
    width: 250px;}
.product14 {
    background-image: url(#);
    height: 360px;
    width: 250px;}
.product15 {  
    background-image: url(#);
    height: 360px;
    width: 250px;}
.product16 {   
    background-image: url(#);
    height: 360px;
    width: 250px;}

li {
    color: #14fa27;
    font-size: large;
   
}