body {
    background-color: #737373;
}
a {cursor: pointer;}

.header-main {
    width: 100%;
    height: 60px;
    background-color: #f7eded;
    display: flex;
    justify-content: space-between;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    display: flex;
}
.header-main-logo img{
    height: 60px;
}


.header-main-nav {
    width: fit-content;
    height: 100%;
}
.header-main-nav ul{
    list-style: none;
}
.header-main-nav ul li{
    display: inline;
    margin-right: 10px;

}
.header-main-nav ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 60px
}
.header-main-nav ul li a:hover{
    color: green;
    
}



.header-main-sm {
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}  

.header-main-sm-fb {
    width: 20px;
    height:20px;
    background-image: url(./Icons/facebook-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.header-main-sm-in {
    width: 20px;
    height: 20px;
    background-image: url(./Icons/instagram-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}   
.header-main-sm-yt {
    width: 20px;
    height: 20px;
    background-image: url(./Icons/instagram-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}  
.header-main-sm-tk {
    width: 20px;
    height: 20px;
    background-image: url(./Icons/instagram-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}












.first-row {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;/*sapce in devboxes*/
    padding-left: 60px;
    margin-top: 60px;
    padding-right: 60px;
    
    display: flex; /*div box next to each other*/
    flex-wrap: wrap; /*div box wrap*/
    align-content: center;/*center items in main div box*/
    gap: 50px 40px ;
   
}



h1 {
    font-style:bold ;
    font-size:42pt;
    display: flex;
    justify-content: center;
}
h2 {
    font-style: bold;
    font-size: 28pt;
    display: flex;
    justify-content: center;
    background-color: rgb(134, 126, 126);
}
.item-name h4 {font-size: 15pt;}
.item-name {    font-style: italic;
    font-size: 20pt;
    display: list-item;
    justify-self: center;
    }



    .newarival {
    height: 100%;
    width: 100%;
    justify-content: space-between;/*sapce in devboxes*/

    
    display: flex; /*div box next to each other*/
    flex-wrap: wrap; /*div box wrap*/
    align-content: center;/*center items in main div box*/
    gap: 50px 40px ;
    }

.na1 {
  
    height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(./HomeImages/NarutowhiteT\ \(250\ x\ 350\ px\).png);
    background-repeat: no-repeat;
    background-position: center;
   
   
     
}
.na2 {
    height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(.//HomeImages/Nike2.png);
    background-repeat: no-repeat;
    background-position: center;}
.na3  {
    height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(.//Wemens/Kitty/RedT\ \(250\ x\ 350\ px\).png);
    background-repeat: no-repeat;
    background-position: center;}
.na4 {
    height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(.//Wemens/KittyGym/whiteT\ \(250\ x\ 350\ px\).png);
    background-repeat: no-repeat;
    background-position: center;}







    .Custom {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;/*sapce in devboxes*/

    
    display: flex; /*div box next to each other*/
    flex-wrap: wrap; /*div box wrap*/
    align-content: center;/*center items in main div box*/
    gap: 50px 40px ;
}

.cs1 {
    height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(./HomeImages/Custom/BlackT100x100.png);
    background-repeat: no-repeat;
    background-position: center;
     
}
.cs2 {
     height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(.//HomeImages/Custom/RedT180x130.png);
    background-repeat: no-repeat;
    background-position: center;
    
}
.cs3 {
    height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(./HomeImages/Custom/whiteT200x300.png);
    background-repeat: no-repeat;
    background-position: center;
}
.cs4 {
     height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(#);
    background-repeat: no-repeat;
    background-position: center;
    
}







.mainsm {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;/*sapce in devboxes*/

    
    display: flex; /*div box next to each other*/
    flex-wrap: wrap; /*div box wrap*/
    align-content: center;/*center items in main div box*/
    gap: 50px 40px ;}
.youtube { 
     height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(./HomeImages/SocialMedia/YT.png);
   background-repeat: no-repeat;
    background-position: center;   }
.tiktok { 
     height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(./HomeImages/SocialMedia/TK.png);
   background-repeat: no-repeat;
    background-position: center;  }
.instagram { 
     height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(./HomeImages/SocialMedia/IG.png);
   background-repeat: no-repeat;
    background-position: center;    }
.facebook { 
     height: 536px;
    width: 300px;
    background-color: #737373;
    background-image: url(./HomeImages/SocialMedia/FB.png);
   background-repeat: no-repeat;
    background-position: center;  }




